
# ─────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://postgres.lgyneooykijughjhvghhjkjx:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# ─────────────────────────────────────────────────────────────
# JWT — usar strings largos y aleatorios distintos entre sí
# Generar con: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
# ─────────────────────────────────────────────────────────────
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria_minimo_32_chars
JWT_REFRESH_SECRET=otro_secreto_diferente_al_access_token_minimo_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ─────────────────────────────────────────────────────────────
# App
# ─────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
